.tbcf-map img {
	max-width: none !important;
}

.tbcf-map__scaler {
	position: relative;
	height: 0;
	padding-bottom: 60%;
}

.tbcf-map__canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
