.tbf-map-scaler {
  height: 0;
  padding-bottom: 60%;
  position: relative;
}

.tbf-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tbf-map img {
  max-width: none !important;
}